apiVersion: v1
kind: Secret
metadata:
  name: prod-cluster
  namespace: {{ argocd_namespace }}
  labels:
    argocd.argoproj.io/secret-type: cluster
type: Opaque
stringData:
  name: prod
  server: {{ prod_api_server }}
  config: |
    {
      "bearerToken": "{{ prod_sa_token }}",
      "tlsClientConfig": {
        "insecure": false,
        "caData": "{{ prod_ca_cert_b64 }}"
      }
    }
